@import "variables";

.hero-bg {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.02) -41.9%,
    rgba(255, 255, 255, 0.02) 260.24%
  );
  padding-top: 50px;
  backdrop-filter: blur(100px);
  border-radius: 10px;
  padding-bottom: 100px;
  margin-bottom: 130px;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 90px;

  &__btns {
    display: flex;

    & > .btn-link {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &.reverse {
    flex-direction: row-reverse;
  }

  &__second {
    margin-bottom: 170px;
  }

  &__text {
    display: flex;
    flex-direction: column;

    &-subtitle {
      font-weight: 600;
      font-size: 18px;
      line-height: 160%;
      text-transform: uppercase;
      color: $blue-text-color;
      margin-bottom: 10px;
    }

    &-title {
      font-weight: 800;
      font-size: 55px;
      line-height: 130%;
      max-width: 604px;
      margin-bottom: 40px;

      &.second {
        font-weight: 700;
        font-size: 40px;
      }
    }

    &-p {
      font-weight: 600;
      font-size: 18px;
      line-height: 160%;
      color: $white-text-color;
      opacity: 0.7;
      margin-bottom: 50px;
      max-width: 560px;

      &.second {
        font-size: 16px;
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__btns {
    > .btn-link {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.companies-list {
  display: flex;
  justify-content: space-between;
}

.mySwiper {
  margin-bottom: 170px;
}

.swiper-object {
  position: relative;
}

.swiper-pagination {
  bottom: -50px !important;
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  background: #2c3647 !important;
  opacity: 0.5 !important;
  backdrop-filter: blur(100px) !important;
  border-radius: 10px !important;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
}

.swiper-slide {
  max-width: 362px;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) -41.9%,
    rgba(255, 255, 255, 0.1) 260.24%
  );
  border-radius: 10px;

  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 47px 30px 30px 30px !important;

  &__img {
    margin-bottom: 30px !important;

    &.small {
      padding-top: 30px;
    }
  }

  &__caption {
    font-weight: 700 !important;
    font-size: 25px !important;
    line-height: 125% !important;
    text-align: center !important;
    color: $white-text-color !important;
    opacity: 0.7 !important;
    margin-bottom: 30px !important;
  }

  &__text {
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 160% !important;
    text-align: center !important;
    color: $white-text-color !important;
    opacity: 0.7 !important;
  }
}
