@import "variables";

#header {
  min-height: 100px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.02) -41.9%,
    rgba(255, 255, 255, 0.02) 260.24%
  );
  backdrop-filter: blur(100px);
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 84px;
  &-text {
    margin-left: 15px;
    color: $blue-text-color;
    font-weight: 600;
    font-size: 22.5455px;
    line-height: 31px;
  }
}

.nav-list {
  display: flex;
  margin-right: 256px;
  &__item {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    &-link {
      margin-right: 40px;

      &:hover {
        color: #3a68b8;
        transition: 0.15s ease-in-out;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.btn-link {
  padding: 15px 30px;
  background: $blue-text-color;
  border-radius: 5px;
  display: flex;
  width: fit-content;

  &__img {
    margin-right: 10px;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &:hover {
    background: #1c468d;
    transition: 0.15s ease-in-out;
  }
}
