@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/OpenSans/OpenSans-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 350;
  src: url("../assets/fonts/Circular/CircularStd-Book.ttf") format("truetype");
}
@font-face {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/Circular/CircularStd-Medium.ttf") format("truetype");
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
  color: white;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  background-color: #020a18;
  scroll-behavior: smooth;
}

.container {
  max-width: 1146px;
  width: 100%;
  margin: 0 auto;
}

#header {
  min-height: 100px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.02) -41.9%, rgba(255, 255, 255, 0.02) 260.24%);
  backdrop-filter: blur(100px);
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 84px;
}
.logo-text {
  margin-left: 15px;
  color: #3a68b8;
  font-weight: 600;
  font-size: 22.5455px;
  line-height: 31px;
}

.nav-list {
  display: flex;
  margin-right: 256px;
}
.nav-list__item {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.nav-list__item-link {
  margin-right: 40px;
}
.nav-list__item-link:hover {
  color: #3a68b8;
  transition: 0.15s ease-in-out;
}
.nav-list__item-link:last-child {
  margin-right: 0;
}

.btn-link {
  padding: 15px 30px;
  background: #3a68b8;
  border-radius: 5px;
  display: flex;
  width: fit-content;
}
.btn-link__img {
  margin-right: 10px;
}
.btn-link__container {
  display: flex;
  align-items: center;
}
.btn-link:hover {
  background: #1c468d;
  transition: 0.15s ease-in-out;
}

.hero-bg {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.02) -41.9%, rgba(255, 255, 255, 0.02) 260.24%);
  padding-top: 50px;
  backdrop-filter: blur(100px);
  border-radius: 10px;
  padding-bottom: 100px;
  margin-bottom: 130px;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 90px;
}
.hero-container__btns {
  display: flex;
}
.hero-container__btns > .btn-link {
  margin-right: 20px;
}
.hero-container__btns > .btn-link:last-child {
  margin-right: 0;
}
.hero-container.reverse {
  flex-direction: row-reverse;
}
.hero-container__second {
  margin-bottom: 170px;
}
.hero-container__text {
  display: flex;
  flex-direction: column;
}
.hero-container__text-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  text-transform: uppercase;
  color: #3a68b8;
  margin-bottom: 10px;
}
.hero-container__text-title {
  font-weight: 800;
  font-size: 55px;
  line-height: 130%;
  max-width: 604px;
  margin-bottom: 40px;
}
.hero-container__text-title.second {
  font-weight: 700;
  font-size: 40px;
}
.hero-container__text-p {
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.7;
  margin-bottom: 50px;
  max-width: 560px;
}
.hero-container__text-p.second {
  font-size: 16px;
  margin-bottom: 20px;
}
.hero-container__text-p.second:last-child {
  margin-bottom: 0;
}
.hero-container__btns > .btn-link {
  margin-right: 20px;
}
.hero-container__btns > .btn-link:last-child {
  margin-right: 0;
}

.companies-list {
  display: flex;
  justify-content: space-between;
}

.mySwiper {
  margin-bottom: 170px;
}

.swiper-object {
  position: relative;
}

.swiper-pagination {
  bottom: -50px !important;
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  background: #2c3647 !important;
  opacity: 0.5 !important;
  backdrop-filter: blur(100px) !important;
  border-radius: 10px !important;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
}

.swiper-slide {
  max-width: 362px;
  width: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) -41.9%, rgba(255, 255, 255, 0.1) 260.24%);
  border-radius: 10px;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 47px 30px 30px 30px !important;
}
.swiper-slide__img {
  margin-bottom: 30px !important;
}
.swiper-slide__img.small {
  padding-top: 30px;
}
.swiper-slide__caption {
  font-weight: 700 !important;
  font-size: 25px !important;
  line-height: 125% !important;
  text-align: center !important;
  color: #ffffff !important;
  opacity: 0.7 !important;
  margin-bottom: 30px !important;
}
.swiper-slide__text {
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 160% !important;
  text-align: center !important;
  color: #ffffff !important;
  opacity: 0.7 !important;
}

#footer {
  min-height: 508px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.005) -41.9%, rgba(255, 255, 255, 0.05) 260.24%);
  backdrop-filter: blur(100px);
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.footer-container {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.footer-column {
  display: flex;
  flex-direction: column;
}
.footer-column__logo {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.footer-column__logo-img {
  width: 45px;
  height: 58.24px;
  margin-bottom: 8px;
}
.footer-column__logo-text {
  color: #3a68b8;
  font-weight: 600;
  font-size: 15.9627px;
  line-height: 22px;
}
.footer-column__text {
  font-family: "Circular Std", sans-serif;
  max-width: 284px;
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  opacity: 0.6;
  margin-bottom: 37px;
}
.footer-column__info-list {
  display: flex;
  flex-direction: column;
}
.footer-column__info-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.footer-column__info-list__item:last-child {
  margin-bottom: 0;
}
.footer-column__info-list__item-img {
  margin-right: 10px;
}
.footer-column__caption {
  font-family: "Circular Std", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 32px;
  text-transform: uppercase;
}
.footer-column__menu-list {
  display: flex;
  flex-direction: column;
}
.footer-column__menu-list__link {
  font-family: "Circular Std", sans-serif;
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  opacity: 0.6;
  margin-bottom: 20px;
}
.footer-column__menu-list__link:hover {
  opacity: 1;
  transition: 0.15s ease-in-out;
}
.footer-column__menu-list__link:last-child {
  margin-bottom: 0;
}
.footer-column__subtext {
  font-family: "Circular Std", sans-serif;
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  opacity: 0.6;
  max-width: 260px;
  margin-bottom: 29px;
}
.footer-column__link {
  font-family: "Circular Std", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  margin-bottom: 21px;
}
.footer-column__link-list {
  display: flex;
  margin-bottom: 53px;
}
.footer-column__link-list__item-link {
  margin-right: 25px;
}
.footer-column__link-list__item-link:last-child {
  margin-right: 0;
}
.footer-column__lang {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.footer-column__lang-img {
  margin-right: 8.26px;
}
.footer-column__lang-title {
  font-family: "Circular Std", sans-serif;
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  margin-right: 10px;
}

/*# sourceMappingURL=styles.css.map */
